streamlit
python-dotenv
langchain==0.3.25
langsmith==0.3.44
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
sentence-transformers==2.7.0
faiss-cpu==1.13.2
pypdf==5.1.0
beautifulsoup4
groq